selenium
bs4
requests
pillow
replicate
langchain
langchain_google_genai
pydantic
scipy
numpy==1.26.4
moviepy==1.0.3
nltk
soundfile
beautifulsoup4
langchain-core
pyttsx3
streamlit
coqui-tts
torch
langchain-google-genai
python-dotenv
nest_asyncio
pandas